@import '@/styles/variables.scss';

%grid {
  margin-bottom: 80px;
  & > * {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    & > * {
      width: calc(100%/2 - 10px);
      margin-right: 20px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px){
    & > *:nth-child(even) {
      margin-right: 0;
    }
  }
  @media screen and (min-width: 1200px) {
    & > * {
      width: calc(100%/3 - 15px);
      &:nth-child(3n + 3) {
        margin-right: 0;
      }
    }
  }
}

%check {
  content: '\f00c';
  font-family: $icon;
  color: #fff;
  font-size: 12px;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 6px;
  transform: translateY(-50%);
}

%icon {
  font-family: $icon;
  font-weight: normal;
  background: none;
  padding: 0;
  border-radius: 0;
  margin: 0;
  span {
    display: none;
  }
}

%button {
  text-align: center;
  position: relative;
  display: block;
  background: $color1;
  color: #fff;
  width: auto;
  box-sizing: border-box;
  padding: 14px 10px;
  border: 0;
  cursor: pointer;
  //z-index: 1;
  border-radius: 5px;
  font-weight: bold;
  font-size: 13px;
  outline: 0;
  border: 1px solid transparent;
  
  .no-touch-events &:not(:disabled):hover {
    background: none;
    border-color: $color1;
    color: $color1;
  }
  &:not(.icon):active {
    &:after {
      content: '';
      display: block !important;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #fff;
      opacity: .4;
      transform: none;
    }
  }
  
  &.outline {
    background: none;
    border: 2px solid #fff;
  }
}

%store-bg {
  flex: 1 1 auto;
  background-color: #000 !important;
  
  h1,h2 {
    font-size: 27px;
    font-family: $lobster;
    text-align: center;
    color: #fff;
    font-weight: normal;
  }

  & > * {
    position: relative;
    z-index: 20;
  }

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.1);
    filter: blur(4px);
    opacity: .6;
    z-index: 10;
  }
}