$color1: #5093e1;
$color2: #2f323a;
$color3: #edeff5;
$color4: #e6e8ee;
$color5: #d1d7e9;
$color6: #a7adbe;
$color7: #dbdde4;
$color8: #F65177;

$icon: 'font_awesome';
$openSans: 'open_sans';
$lobster: 'lobster';
$storeImage: 'assets/bg4.jpg';
